<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tutorial02_red_triangle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07E15A6A42A94EB3832CB6D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C7F111BF457412AA601BAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12042F3B7D0940E8AF0DBFF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2565121C63A747B5AC881391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A302D319F734E49BB8A8DA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE24D8A74934A638C7014A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E2304F000D44F8DAC33AAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31D6F0A53E544C2BA6A50EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3407F38D36094F439DB2EE0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364C0EBD366149C39648B02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36841FC77FCD43E6B95E192A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D84ABFB9274EB3BFF1CB86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47455BDE2941431A8A0BCE70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48E2D7975196497BA7E2761B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49CE06F71C654C419DC1A764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0DC6830AE548D18F549E14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AF910DA27FF454F9A3D34B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C74F00002CE489085CA6F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C9598781BCD47ACB1C062ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FC145A16E24473BB008A92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A2FCBD952F4F95964292F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51F60B8876554661A5D5C5A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF27D051806448BB582A4AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DC46A8304E34C2C853E2A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DE61240563A4474B0CF9C45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D9ABF44D3F452783C9210E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EF69A2BD294AFDAB412299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>663D81975F8A47B88A1C14EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668B63A2DD76496BB66DD3F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>669F1A14439A48F59BEE1206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69E2B03D5F0A48FDB771B6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C0CAE8F392E41E9B0CA3401</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>723C097166F24AB1A0EB684B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76532E57CC41447EBF706898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D2AC6F86A1A42C683260A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80DC4F959F6546249BC88A8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8182F82AAAF3480F80D1AEBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>860757A59AEA475188EE2CE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86AF9FB0F05F4E98A3BEECFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB396C532D749DD9E4CB74E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91693D5CA9044F3DB8F3B735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A64E9F19FD4BA189F78634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BE69F445DAE4E4D80357C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4B43C630F2447D4AC089B08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A720455E9AF6423295695166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA092B9921E74D9D96F10085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE36B8009748407F8D3FD165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8D79013044D4A7DB32795FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2BFB5606AF4EC89C29BF6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA7B4F7048A44188B26DB623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA809CFF7BE547BD82F2E5E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF173EEA8C274520ADB55701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46751A24CB84C768947B513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E72736ED3233411A8C06B2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7D8344DBAB04ED7835A432F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D6B76EF4CB4967B3C72830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB8557F7A8B944DE841599B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED21A79DA67F44819CE6D482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE4094A8C98441A2969A5D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0F6BB5A9F924F0789EF49C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F35DA6D26DC34C9497C88256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F85EB19D39704BBEB5596CE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB476010360648179FB4E6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
